body{
    color: #00f0b5;
    background-color: #5e239d;
    text-align: center;
}

#submit{
    background-color: #00f0b5;
    padding: auto;
}

img {
    width:953.5px;
    height:639.5px;
}

@media screen and (max-width: 900px) {
    img {
        width: 476px;
        height: 319px;
    }
}

